
<div id="d_help">
    <div id="helpesc">
        <span>q</span> to exit
    </div>

    <table id="helpspacer">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr><th colspan=2> key bindings </th></tr>
                        <tr>
                            <td> <span>?</span> </td>
                            <td> help </td>
                        </tr>
                        <tr>
                            <td> <span>a</span> </td>
                            <td> add after </td>
                        </tr>
                        <tr>
                            <td> <span>A</span> </td>
                            <td> add before </td>
                        </tr>
                        <tr>
                            <td> <span>d</span> </td>
                            <td> cut </td>
                        </tr>
                        <tr>
                            <td> <span>e</span> </td>
                            <td> edit </td>
                        </tr>
                        <tr>
                            <td> <span>j</span>, <span>k</span></td>
                            <td> up, down </td>
                        </tr>
                        <tr>
                            <td> <span>l</span> </td>
                            <td> add sublist </td>
                        </tr>
                        <tr>
                            <td> <span>L</span> </td>
                            <td> paste as sublist </td>
                        </tr>
                        <tr>
                            <td> <span>p</span> </td>
                            <td> paste after </td>
                        </tr>
                        <tr>
                            <td> <span>P</span> </td>
                            <td> paste before </td>
                        </tr>
                        <tr>
                            <td> <span>y</span> </td>
                            <td> copy </td>
                        </tr>
                        <tr>
                            <td> <span>u</span> </td>
                            <td> undo </td>
                        </tr>

                    </table>

                </td>

                <td>

                    <table id="markdownhelp">
                        <tr>
                            <th colspan="2"> markdown basics </th>
                        </tr>
<tr>
<td> 
<pre># H1</pre>
</td>
<td><h1>H1</h1></td>
</tr>

<tr>
<td> 
<pre>## H2</pre>
</td>
<td><h2>H2</h2></td>
</tr>

<tr>
<td> 
<pre>_italic_</pre>
</td>
<td><em>italic</em></td>
</tr>

<tr>
<td> 
<pre>__strong__</pre>
</td>
<td><strong>strong</strong></td>
</tr>
<tr>
<td> 
<pre>* bullet
* bullet</pre>
</td>
<td><ul><li>bullet</li><li>bullet</li></ul></td>
</tr>


<tr>
<td> 
<pre>[link](https://url)</pre>
</td>
<td><a href="https://url">link</a></td>
</tr>


<tr>
<td colspan="2"> 
    <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">complete syntax</a>
</td>
</tr>


                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</div>

