<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title id="title"></title> 
   <!--(for i in css)--> 
       <style>$!i!$</style>
   <!--(end)-->
   <!--(for i in jslibs)--> 
       <script type="text/javascript">$!i!$</script>
   <!--(end)-->
   <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head> 
<body> 
<div id="doc3" class="yui-t7">
    <div id="hd">
        <h1 id="header"></h1>
        <div id="topbar">
            <span id="hprompt">
                <span>?</span>
            </span>
            <span id="save">save</span>
        </div>
        <div id="topmenu">
            <span>...</span>
            <ul id="submenu">
                <li id="m_changepass"> change password </li>
                <!--(block debugbuttons)-->
                <li id="m_roundtrip">roundtrip</li>
                <script>
                    $("#m_roundtrip").click(
                        function(){
                            function round(){
                                load_data();
                                ciphertext = Data.encrypt();
                                Data.clear();
                                new_writekey = "";
                                List.restore([]);
                                run();
                            }
                            waitForEntropy(round);
                        }
                    )
                </script>
                <!--(end)-->
                $!debugbuttons if dev else ""!$
            </ul>
        </div>
    </div>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-g">
                <div id="listbox">
                    <ul id="listmaster" class="list"></ul>
                    <div id="emptymsg">
                        No items in list. Press <strong>a</strong> to add one, or <strong>?</strong> for help. 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="d_newpassprompt">
        <table class="diatable">
            <tr><td colspan="2" id="newpassprompt_msg"></td></tr>
            <tr>
                <td>password:</td>
                <td><input id = "newpass" type="password"></td>
            </tr>
            <tr>
                <td>confirm:</td>
                <td><input id = "newpass_conf" type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="b_newpassprompt_go">go</button>
                    <button id="b_newpassprompt_cancel">cancel</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="b_generate">... or generate a key</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="d_keygen">
        <table class="diatable">
            <tr><td>Key with about 128 bits of entropy:</td></tr>
            <tr><td id="generated_key"></td></tr>
            <tr>
                <td>
                    <button id = "b_generate_accept">accept</button>
                    <button id = "b_generate_regen">regenerate</button>
                    <button id = "b_generate_cancel">cancel</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="d_passprompt">
        <table class="diatable">
            <tr><td>Password:</td></tr>
            <tr><td><input id = "pass" type="password"></td></tr>
        </table>
    </div>
    <div id="d_save">
        Saving...
    </div>
    <div id="d_entropy">
        We need more entropy. Please jiggle the mouse. 
        <div id="entropybar"></div>
    </div>
    $!helpdialog!$
</div>

<ul id="clickmenu" class="contextMenu">
    <li><a href="#edit">Edit</a></li>
    <li><a href="#cut">Cut</a></li>
    <li><a href="#copy">Copy</a></li>
    <li><a href="#paste">Paste</a></li>
    <li><a href="#add">Add</a></li>
    <li><a href="#sublist">Sublist</a></li>
</ul>

<script>
// APPHASH_HOSTILE_ZONE
var name = "@!name!@";
var domain = "@!domain!@";
var new_writekey = "@!writekey!@";
var ciphertext = "@!data!@";
// APPHASH_HOSTILE_ZONE
$(run);
</script> 
</body> 
</html>
